html,
body {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    color: #333;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f6f6;
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}